
.widget {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget__title {
    opacity: 0.5;
    display: inline-block;
    position: relative;
    padding-left: 8px;
    margin-bottom: 36px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    letter-spacing: 1px;
}

.tag__cloud {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5%;
}

.tag__cloud a:hover {
    border-color: #ff7b7b;
    color: #fff;
    cursor: pointer;
}

.tag__cloud a {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 5px 5px 0;
    font-size: 14px;
    line-height: 10px;
    font-weight: 500;
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    color: #aaa;
    text-decoration: none;
}

.widget__title::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
    display: block;
    width: 106px;
    height: 38px;
    border-radius: 4px 0px 0px 4px;
    background: linear-gradient(
90deg, #ff7b7b -5.19%, rgba(15,14,21,0) 100%);
}

.widget__head {
    margin-left: 3%;
    width: 40%;
}

@media (max-width: 768px) {
    .widget {
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: baseline; 
        flex-direction: column;
    }
  }
