<div *ngIf="loading">
  <!-- <app-loading-spinner></app-loading-spinner> -->
  <app-loading-fullscreen></app-loading-fullscreen>
</div>

<div class="profile">
  <div class="container">
    <div class="row">
      <div
        class="article col col-4 col-d-6 col-t-12"
        *ngFor="let article of results; let i = index"
        [ngClass]="{ custom_newfeed: article.slug === articleNewFeed }"
      >
        <div class="article-card" [title]="article.description">
          <a class="article-img" [routerLink]="['/article', article.slug]">
            <img
              class="img"
              src='{{ "../../../../../../../assets/images/" + showImages(i+1) + ".jpg" }}'
              alt=""
            />
          </a>

          <div class="article-content">
            <div class="article-meta" [ngStyle]="{'justify-content' : article.slug === articleNewFeed ? 'space-between' : 'flex-end'}">
              <p
                class="color-white newFeed"
                style="font-size: 15px"
                *ngIf="article.slug === articleNewFeed"
              >
                <i class="fas fa-check" style="color: #ff7b7b"></i> New feed
              </p>
              <time class="article-date">{{
                article.createdAt | date: "longDate"
              }}</time>
            </div>
            <div class="article-title">
              <p>{{ article.title | summary:24}}</p>
            </div>

            <p class="article-excerpt">
              {{ article.description | summary:50}}
            </p>

            <div class="article-bottom">
              <div class="tag-bottom">
                <span class="post-tag">
                  <a *ngFor="let tag of article.tagList | spliceTag : 5" (click)="setListTag('', tag)"> {{ tag }} </a>
                </span>
              </div>
              <div
                class="
                  user-bottom
                  d-flex
                  align-items-center
                  justify-content-center
                "
              >
                <div class="article-author">
                  <a [routerLink]="['/profile', article.author.username]"
                    ><img
                      class="img-author"
                      src="{{ article.author.image }}"
                      alt=""
                  /></a>
                </div>
                <div class="article-bottom-meta">
                  <a
                    [routerLink]="['/profile', article.author.username]"
                    class="article-bottom-user"
                    >{{ article.author.username }}</a
                  >
                </div>
                <a
                  appDebounceClick
                  [debounceTime]="300"
                  class="btn article-like"
                  style="cursor: grab"
                  (debounceClick)="tonggleFavorite(article, i)"
                  ><i
                    class="fa-heart"
                    [ngClass]="{
                      fas: results[i].favorited,
                      far: !results[i].favorited
                    }"
                  ></i>
                  {{ results[i].favoritesCount }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-paginator
  [hidden]="!results.length"
  #paginator
  [length]="length"
  [pageSizeOptions]="[5, 10, 100]"
  aria-label="Select page"
  (page)="handlePage($event)"
>
</mat-paginator>
