<div *ngIf="isLoadingFavorites" class="text-center spinner">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="profile" *ngIf="!isLoadingFavorites">
  <div class="container">
    <div class="row">
      <div class="article col col-4 col-d-6 col-t-12" *ngFor="let article of listFavorites; let i = index"
        [ngClass]="{'newfeed' : i === 0 && offset ===0} ">
        <div class="article-card">
          <a class="article-img" [routerLink]="['../../../article', article.slug]">
            <img class="img" src='{{ "../../../../../assets/images/" + showImages(i) + ".jpg" }}' />
          </a>
          <div class="article-content">
            <div class="article-meta d-flex "
              [ngStyle]="{'justify-content': (i === 0 && offset ===0)? 'space-between' : 'flex-end'}">
              <p class="color-white newFeed" style="font-size:15px" *ngIf="i === 0 && offset ===0"><i
                  class="fas fa-check" style="color:#ff7b7b"></i> New feed
              </p>
              <time class="article-date" datetime="2020-11-21">{{article.createdAt | date : 'longDate' }}</time>
            </div>
            <div class="article-title">
              <p>{{article.title | summary: 25}}</p>
            </div>

            <p class="article-excerpt">
              {{article.description | summary: 50}}
            </p>
            <span class="post-tag">
              <a *ngFor="let tag of article.tagList  | spliceTag: 5">
                {{ tag }}</a>
            </span>
            <div class="article-bottom d-flex justify-content-between align-items-end">
              <div class="article-author">
                <a [routerLink]="['../../../profile',article.author.username ]"><img class="img-author" src="{{ article.author.image }}
                " alt="" /></a>
                <a href="" class="article-bottom-user"
                  [routerLink]="['../../../profile',article.author.username ]">{{article.author.username}}</a>
              </div>
              <div class="article-bottom-meta">

                <a appDebounceClick [debounceTime]="300" class="btn  article-like" *ngIf="!listFavorites[i].favorited"
                  (debounceClick)="onFavoriteArticle(article.slug, i)">
                  <i class="far fa-heart"></i> {{ listFavorites[i].favoritesCount}}</a>
                <a appDebounceClick [debounceTime]="300" class="btn  article-like" *ngIf="listFavorites[i].favorited"
                  (debounceClick)="onUnfavoriteArticle(article.slug, i)">
                  <i class="fas fa-heart"></i> {{ listFavorites[i].favoritesCount}}</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <mat-paginator [length]="length" [pageSizeOptions]="[5, 10, 20]" aria-label="Select page" (page)="handlePage($event)">
  </mat-paginator>
</div>
